<h1 class="team-name">
  <%= @team.name %>
  <small id="countdown-title">
    pitchers and catchers report in:
  </small>
</h1>
<div class="jumbotron">
  <div id="countdown"></div>
</div>
<% @team.events.each_slice(3) do |batch| %>
  <div class="row">
    <% batch.each do |event| %>
      <div class="col-xs-4 event">
        <h4 class="event-name"><%= event.name %></h4>
        <p class="event-details">Lorem Ipsum, Lorem Ipsum, Lorem Ipsum, Lorem Ipsum, Lorem Ipsum.</p>
        <%= link_to event.name, '#', class: 'btn btn-default btn-large' %>
      </div>
    <% end %>
  </div>
<% end %>
